
{% extends "base.html" %}

{% block main %}
<div class="body_block">
  <div class="top">
    <div id="info">
      <img class="photo" src="{{ url_for("static", filename="avatar.png") }}">
      <h1> Kimberly Stewart</h1>

      <ul>
        <li>@kimOS</li>
        <li>Kingston, Jamaica</li>
        <li>Date Joined</li>
      </ul>

    </div>
  </div>

  <div class="bottom">
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, esse dignissimos possimus earum tempora aliquam iste 
        nobis minus sunt excepturi. Consectetur dolores ad animi aliquam autem harum nostrum voluptate doloremque.</p>
 
      <h3 class="cards">Post</h3>
      <h3 class="cards">Following</h3>
      <h3 class="cards">Followers</h3>

  </div>
</div>
{% endblock %}

