
{% extends "base.html" %}

{% block main %}
<div class="body_block">

  <div class="top">
      <img class="photo" src="{{ url_for("static", filename="avatar.png") }}">
      <h1> Kimberly Stewart</h1>

      <ul class="format">
        <li>@kimOS</li>
        <li>Kingston, Jamaica</li>
        <li> Joined {{ joined }}  </li>
      </ul>

  </div>
  

  <div class="bio">
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, esse dignissimos possimus earum tempora aliquam iste 
        nobis minus sunt excepturi. Consectetur dolores ad animi aliquam autem harum nostrum voluptate doloremque.</p>
  </div>

    <ul class="flex">
      <li class="listing">
        <p class="amt">7</p>
        <p class="label">Post</p>
      </li>

      <li class="listing">
        <p class="amt">100</p>
        <p class="label">Following</p>
      </li>

      <li class="listing">
        <p class="amt">250</p>
        <p class="label">Followers</p>
      </li>
    </ul>


    <button class="btn"> Follow </button>
  </div>

{% endblock %}

